* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Boa prática para incluir padding/borders no tamanho total */
}
body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  width: 100%;
  height: 100vh;
}

.conteiner{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button{
  border-radius: 5px;
  height: 30px;
  margin: 20px 0;
  cursor: pointer;
}

.action{
  border: 1px solid black;
  border-radius: 5px;
}

input{
  margin-top: 10px;
  height: 30px;
}

form label{
  margin-left: 10px;
}

